@import "../../../myStyle.scss";
.carouselmain {
  @include flexBoxRow();
  height: 100%;
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
  .carouselinner {
    width: 620px;
    .carouselPics {
      height: 240px;
      width: 620px;
    }
  }
}
.carouselReplace{
  display: none;
  color: rgb(252, 32, 4);
  p{
    font: {
      size:50px;
      weight:300;
      family:"yuweij2b8f05ace023e14";
    }
    margin: 20px 0 0 10px;
  }
}
@media screen and (max-width: 1000px) {
  .carouselinner {
    display: none;
  }
  .carouselReplace{
    @include flexCenter();
  }
  .carouselmain{
    text-align: center;
  }
}
