@import "../../myStyle.scss";
body,
html {
  margin: 0;
}
#all {
  @include flexBoxCol();
  overflow: hidden;
  /* max-height: 100vh; */
  #header {
    height: 45px;
    width: 100%;
    min-width: 80vh;
    background-color: rgb(231, 229, 229);
  }
  #footer {
    height: 50px;
    width: 100%;
    min-height: 45px;
  }
  #main {
    display: flex;
    height: calc(100vh - 50px - 45px);
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    #sider-block {
      width: 190px;
      min-width: 190px;
      background-color: rgb(211, 210, 210);
      @media screen and (max-width: 750px) {
        & {
          display: none;
        }
      }
    }
    #main-block {
      width: 100%;
      min-width: 100%;
      overflow-y: scroll;
    }
  }
}
